:root{
    /* Primary */
    --tengu-primary-color        : #1975ff;
    --tengu-primary-hover-color  : #3284ff;
    --tengu-primary-outline-color: #1975ff6f;
    --tengu-primary-text-color   : #fff;

    /* Warning */
    --tengu-warning-color        : #ffe819;
    --tengu-warning-hover-color  : #ffee32;
    --tengu-warning-outline-color: #ffe8196f;
    --tengu-warning-text-color   : #000;

    /* Danger */
    --tengu-danger-color         : #ff1919;
    --tengu-danger-hover-color   : #ff3232;
    --tengu-danger-outline-color : #ff19196f;
    --tengu-danger-text-color    : #fff;

    /* Success */
    --tengu-success-color        : #169342;
    --tengu-success-hover-color  : #3e975d;
    --tengu-success-outline-color: #1693426f;
    --tengu-success-text-color   : #fff;


    --tengu-card-border-color: #ddd;
    --tengu-card-header-color: #f8f8f8;
    --tengu-card-header-text-color: #333;

    --tengu-switch-background: #ddd;
    --tengu-switch-checked-background: #45c736;

    --tengu-sidebar-active-color: #01bf44;
}
*{
    box-sizing: border-box;
}

.primary{
    --tengu-background      : var(--tengu-primary-color);
    --tengu-background-hover: var(--tengu-primary-hover-color);
    --tengu-outline-color   : var(--tengu-primary-outline-color);
    --tengu-text            : var(--tengu-primary-text-color);
}
.warning{
    --tengu-background      : var(--tengu-warning-color);
    --tengu-background-hover: var(--tengu-warning-hover-color);
    --tengu-outline-color   : var(--tengu-warning-outline-color);
    --tengu-text            : var(--tengu-warning-text-color);
}
.danger{
    --tengu-background      : var(--tengu-danger-color);
    --tengu-background-hover: var(--tengu-danger-hover-color);
    --tengu-outline-color   : var(--tengu-danger-outline-color);
    --tengu-text            : var(--tengu-danger-text-color);
}
.success{
    --tengu-background      : var(--tengu-success-color);
    --tengu-background-hover: var(--tengu-success-hover-color);
    --tengu-outline-color   : var(--tengu-success-outline-color);
    --tengu-text            : var(--tengu-success-text-color);
}

/* BUTTON */
.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;

    background: var(--tengu-background);
    color: var(--tengu-text);
    
    transition: all .25s;

    user-select: none;
    outline: 3px solid transparent;

    margin: 5px auto;
}
.btn:not(.disabled):hover{
    background: var(--tengu-background-hover);
}
.btn:not(.disabled):active{
    outline-color: var(--tengu-outline-color);
}

.btn.btn-outline{
    background: transparent;
    border: 2px solid var(--tengu-background);
    color: #000;
}
.btn:not(.disabled).btn-outline:hover{
    background: var(--tengu-background);
    color: var(--tengu-text);
}

.btn:empty{
    display: none;
}
.btn-block{
    display: block;
    text-align: center;
}
.btn.disabled{
    user-select: none;
    pointer-events: none;
    cursor: auto;
    filter: brightness(0.75);
}

/* CARD */
.card-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card-group-center{
    justify-content: center;
}
.card-group > .card{
    width: 100%;
    max-width: 300px;
}
.card{
    display: block;
    box-shadow: 0 0 5px 0 #0005;
    border-radius: 5px;
}

.card-header{
    padding: 12px;
    border-bottom: 1px solid var(--tengu-card-border-color);
    background: var(--tengu-card-header-color);
    color: var(--tengu-card-header-text-color);
}
.card-body{
    padding: 12px;
}


/* SWITCH */
.switch{
    --tengu-checkbox-width: 1rem;
    /* --tengu-checkbox-padding: 2.5px; */
    /* --tengu-checkbox-padding: calc(var(--tengu-checkbox-width) / 10); */
    --tengu-checkbox-padding: calc(var(--tengu-checkbox-width) / 16 * 3);

    --tengu-width: calc((var(--tengu-checkbox-width) + var(--tengu-checkbox-padding)) * 2 + 5px);

    position: relative;

    display: inline-block;
    width : var(--tengu-width);
    height: calc(var(--tengu-checkbox-width) + (var(--tengu-checkbox-padding) * 2));
    background-color: var(--tengu-switch-background);
    
    border-radius: calc(var(--tengu-checkbox-width) + (var(--tengu-checkbox-padding) * 2));
    
    transition: all .3s;

    cursor: pointer;
}
.switch-lg{
    --tengu-checkbox-width: 25px;
}
.switch::before{
    content: "";
    display: inline-block;

    position: absolute;
    top : var(--tengu-checkbox-padding);
    left: var(--tengu-checkbox-padding);

    width : var(--tengu-checkbox-width);
    height: var(--tengu-checkbox-width);

    background: #fff;
    border-radius: 50%;

    transition: all .3s;
}
.switch:has(> input[type=checkbox]:checked){
    background: var(--tengu-switch-checked-background);
}
.switch:has(> input[type=checkbox]:checked)::before{
    left: calc(var(--tengu-width) - var(--tengu-checkbox-padding) - var(--tengu-checkbox-width));
}
.switch > input[type=checkbox]{
    width : 0;
    height: 0;
}

.switch-option{
    display: flex;
    justify-content: space-between;
}
/* .switch-text{

} */
/* .switch-option > .switch{
    --tengu-checkbox-width  : 1rem;

    width: var(--tengu-width);
} */
.switch-option-group{
    border    : solid 1px var(--tengu-card-border-color);
    background: var(--tengu-card-header-color);

    border-radius: 5px;
    padding: 0 5px;

    display: flex;
    flex-direction: column;
}
.switch-option-group > .switch-option{
    padding: calc(0.3rem + 5px) 0.5rem;
}
.switch-option-group > .switch-option:not(:first-child){
    border-top: 1px solid var(--tengu-card-border-color);
}

/* FORM */


input:not([type=checkbox]):not([type=radio]), select{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--tengu-switch-background);
    border-radius: 5px;

    outline: 3px solid transparent;

    transition: all .3s;
}
input:not([type=checkbox]):not([type=radio]):focus, input:not([type=checkbox]):not([type=radio]):focus-visible, input:not([type=checkbox]):not([type=radio]):focus-within,
select:focus, select:focus-visible, select:focus-within{
    outline-color: var(--tengu-primary-outline-color);
}

/* floating label */
.floating-label{
    position: relative;
}
.floating-label > input{
    padding-top: calc(1rem + 0.5rem) !important;
}
.floating-label > label{
    position: absolute;

    pointer-events: none;

    top : 0.65rem;
    left: 0.75rem;
    
    color: var(--tengu-card-header-text-color);
    font-size: 1.2rem;

    transition: 0.2s all;
}
.floating-label:has( > input:focus,
> input:focus-visible,
> input:focus-within,
> input:not(:placeholder-shown)) > label{
    transform: scale(0.7);
    top : 3px;
    left: 3px;
}

/* .floating-label > label:focus,
.floating-label > label:focus-visible,
.floating-label > label:focus-within{

} */


.check{
    display: block;
}
.check-inline{
    display: inline;
}
.check > label, .check > input[type=radio], .check > input[type=checkbox]{
    display: inline;
}

/* input */
input[type=radio], input[type=checkbox]{
    width : 0;
    height: 0;
}



/* label */
input[type=radio] + label, input[type=checkbox] + label{
    position: relative;
    padding-left: 1.2rem;
}

/* label before */
input[type=radio] + label::before, input[type=checkbox] + label::before{
    content: "";

    position: absolute;
    left: -0.2rem;
    /* top : 0.2rem; */
    top : 0.1rem;

    display: inline-block;
    width : 1rem;
    height: 1rem;
    
    border: 1px solid var(--tengu-card-border-color);

    transition: .1s all;

    outline: 2px solid transparent;
}
input[type=radio]:focus + label::before,
input[type=radio]:focus-visible + label::before,
input[type=radio]:focus-within + label::before,
input[type=checkbox]:focus + label::before,
input[type=checkbox]:focus-visible + label::before,
input[type=checkbox]:focus-within + label::before{
    outline-color: var(--tengu-primary-outline-color);
}

/* checkbox checked before */
input[type=checkbox]:checked + label::before{
    background: var(--tengu-primary-color);
}
/* checkbox after */
input[type=checkbox] + label::after{
    content: "";
    position: absolute;
    top : calc(0.35rem - 0.05rem);
    left: 0.20rem;

    transform: rotateZ(-45deg);

    width : 0.2rem;
    height: 0.5rem;

    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: white;
}
/* checkbox checked after */
input[type=checkbox]:checked + label::after{
    transition: .2s all;
    transform: rotateZ(45deg);
}

/* radio before */
input[type=radio] + label::before{
    border-radius: 50%;
}
/* radio checked before */
input[type=radio]:checked + label::before{
    background: var(--tengu-primary-color);
}

/* radio after */
input[type=radio] + label::after{
    transition: .1s all;
}
/* radio checked after */
input[type=radio]:checked + label::after{
    --tengu-radio-padding: 0.3rem;

    content: "";
    display: inline-block;
    background: #fff;

    position: absolute;
    left  : calc(-0.2rem + (var(--tengu-radio-padding) * 1) + 0.25px - 0.005rem);
    /* top   : calc( 0.2rem + (var(--tengu-radio-padding) * 1) - 0.5px); */
    top   : calc( 0.2rem + (var(--tengu-radio-padding) * 1) - 1px - 0.075rem);

    width : calc(1rem - (var(--tengu-radio-padding) * 2));
    height: calc(1rem - (var(--tengu-radio-padding) * 2) + 0.5px);

    border-radius: 50%;

    border: 1px solid transparent;
}



/* btn group */
.btn-group{
    display: flex;
    flex-wrap: nowrap;

    gap: 0;
}
.btn-group > *{
    border-radius: 0;
    margin: 0;
}
.btn-group > *:first-child{
    border-top-left-radius   : 5px !important;
    border-bottom-left-radius: 5px !important;
}
.btn-group > *:not(:last-child){
    border-right: none !important;
}
.btn-group > *:last-child{
    border-top-right-radius   : 5px !important;
    border-bottom-right-radius: 5px !important;
}
.btn-group.center {
    justify-content: center;
}

/* sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 10px;
}
.sidebar-item{
    display: flex;
    justify-content: left;
    width: 100%;
    border-radius: 5px;
    padding: 10px;

    gap: 0.25rem;

    position: relative;

    transition: all 0.25s;
}
.sidebar-item:not(.sidebar-active){
    cursor: pointer;
}
.sidebar-item > .sidebar-icon{
    border-radius: 5px;
    height: 1.2rem;
    width: 1.2rem;
    /* padding: 1px; */

    position: relative;
    top: 3px;
}

.sidebar-space{
    height: 20px;
}
.sidebar-active{
    background: var(--tengu-sidebar-active-color);
    color: #fff;
}

.loader-wrapper {
  display: flex;
  gap: 0.25rem;
}
.loader {
  position: relative;
  top: 0.25em;

  width: 1em;
  height: 1em;
  
  line-height: 1em;
  
  border: 0.18em solid var(--tengu-background);
  border-radius: 50%;
  border-top-width: 0.15em;
  border-right-color: transparent;
  
  animation: loader 1s infinite linear;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}